<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css8/indec.css' %}">
    
</head>
<body>
    <div class="weather-container">
        <div class="weath">Weather</div>
        <h2>15 July - September</h2>
        <div class="weather-info">Cloudy</div>
        <div class="temperature">24&deg;C</div>
        <div class="weather-info">Humidity: 80%</div>
        <div class="forecast">
        </div>
    </div>
</body>
</html>
