<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css7/index.css' %}">
</head>
<body>
    <div class="main">
        <nav>
            <div class="p1">
                CLOUD FILE
                <img src="https://cdn-icons-png.flaticon.com/512/5994/5994710.png" alt="" height="30px">
            </div>
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="side"> 
            <div class="sidebar">
                <p></p>
                <p>Home</p>
                <p>Desktop</p>
                <p>Document</p>
                <p>Pictures</p>
                <p>Videos</p>
                <p>Downloads</p>
                <p>Trash</p>

                <div class="add">
                    <p class="p2"><a href="../upload">+</a></p>
                </div>
                <div class="files">
                    {% for i in data %}
                    <p><a href="{{i.document.url}}"><img src="{% static 'image/image.png' %}" alt="{{i.document}}" height="300px" width="400px" class="img2"></a></p>
                    <p>{{i.des}}"</p>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>