<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css7/upload.css' %}">
    <link rel="stylesheet" href="{% static 'image/image.png' %}">
</head>
<body>
    <div class="main">
        <nav>
            <div class="p1">
                CLOUD FILE
                <img src="https://cdn-icons-png.flaticon.com/512/5994/5994710.png" alt="" height="30px">
            </div>
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="side">
            <div class="sidebar">
                <p></p>
                <p>Home</p>
                <p>Desktop</p>
                <p>Document</p>
                <p>Pictures</p>
                <p>Videos</p>
                <p>Downloads</p>
                <p>Trash</p>
                <hr class>
            </div>
            <div class="img1">
                <img src="https://cdn.pixabay.com/photo/2013/07/12/12/29/arrow-145786_640.png" height="200px">
                <form action="" method="POST">
                    {%csrf_token %}
                    <input type="file" name="doc" id="">
                    <input type="text" name="des" id="">
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="files">
                {% for i in docs %}
                <a href="{{i.doc.url}}">
                    <img src="{% static 'image/image.png' %}" alt="{{i.doc}}">
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>