<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../" method="POST">
        {% csrf_token %}
        <p><input type="text" name="uname" id="" placeholder=" username" required></p>
        <p><input type="password" name="pwd" id="" placeholder=" Password" required></p>
        
        <input type="submit" value="Login">
        <p>Don't have an account ??<a href="../register">Register here</a></p>
    </form>
</body>
</html>