<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="../register" method="POST">
        {% csrf_token %}
        <p><input type="text" name="uname" id="" placeholder="Username"></p>
        <p><input type="password" name="password" id="" placeholder="Password"></p>
        <p><input type="submit" value="Login"></p>
        <p>Don't have an account ??<a href="../register">Register Here</a></p>
    </form>
</body>
</html>